html {
    font-size: 16px;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul,
  input {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol,
  ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  a {
    text-decoration: none;
  }
  
  .FRAME_1_2 {
    width: 1728px;
    min-height: 1117px;
    background-color: rgba(255, 255, 255, 1);
    border: none;
    position: relative;
  }
  
  .RECTANGLE_1_3 {
    transform: translate(0px, 0px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .RECTANGLE_1_4 {
    transform: translate(0px, 0px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.325));
  }
  
  .RECTANGLE_1_5 {
    transform: translate(550px, 27px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
  }
  
  .VECTOR_1_6 {
    transform: translate(175px, 27px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
    background-image: linear-gradient(#24481B,#3D7E2C);
  }
  
  .TEXT_1_7 {
    transform: translate(199px, 42px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(255, 255, 255, 1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Kreon;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0px;
    line-height: 15.119999885559082px;
  }
  
  .RECTANGLE_1_8 {
    transform: translate(732px, 27px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
  }
  
  .RECTANGLE_1_9 {
    transform: translate(913px, 27px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
  }
  
  .RECTANGLE_1_10 {
    transform: translate(1095px, 27px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
  }
  
  .RECTANGLE_1_11 {
    transform: translate(1277px, 27px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
  }
  
  .TEXT_1_12 {
    transform: translate(1316px, 42px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 1);
    font-family: Kreon;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0px;
    line-height: 15.119999885559082px;
  }
  
  .RECTANGLE_1_13 {
    transform: translate(1542px, 27px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
  }
  
  .RECTANGLE_1_14 {
    transform: translate(369px, 27px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 16px;
  }
  
  .TEXT_1_15 {
    transform: translate(418px, 42px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 1);
    font-family: Kreon;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0px;
    line-height: 15.119999885559082px;
  }
  
  .ELLIPSE_1_16 {
    transform: translate(15px, 8px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .TEXT_1_17 {
    transform: translate(759px, 42px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 1);
    font-family: Kreon;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0px;
    line-height: 15.119999885559082px;
  }
  
  .TEXT_1_18 {
    transform: translate(591px, 42px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 1);
    font-family: Kreon;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0px;
    line-height: 15.119999885559082px;
  }
  
  .TEXT_1_19 {
    transform: translate(949px, 42px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 1);
    font-family: Kreon;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0px;
    line-height: 15.119999885559082px;
  }
  
  .TEXT_1_20 {
    transform: translate(1142px, 42px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 1);
    font-family: Kreon;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0px;
    line-height: 15.119999885559082px;
  }
  
  .TEXT_1_21 {
    transform: translate(1580px, 39px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 1);
    font-family: Kreon;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0px;
    line-height: 15.119999885559082px;
  }
  
  .RECTANGLE_1_22 {
    transform: translate(105px, 142px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.325))
      drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.325));
      background-image: linear-gradient(#D9D9D9,#CECDCD);
  }
  
  .RECTANGLE_1_23 {
    transform: translate(83px, 667px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.325))
      drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.325));
    background-image: linear-gradient(#D9D9D9,#CECDCD);
  }
  
  .RECTANGLE_1_24 {
    transform: translate(61px, 122px) rotate(0deg) scale(1, 1);
    transform-origin: 3px 3px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 29px;
  }
  
  .TEXT_1_25 {
    transform: translate(1059px, 157px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: KoPub Batang;
    font-weight: 700;
    font-size: 39px;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0px;
    line-height: 42.66600036621094px;
  }
  
  .TEXT_1_26 {
    transform: translate(1139px, 222px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: KoPub Batang;
    font-weight: 700;
    font-size: 39px;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0px;
    line-height: 42.66600036621094px;
  }
  
  .RECTANGLE_1_27 {
    transform: translate(61px, 657px) rotate(0deg) scale(1, 1);
    transform-origin: 3px 3px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 29px;
  }
  
  .TEXT_1_28 {
    transform: translate(1041px, 703px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(31.875, 27.22656313329935, 27.22656313329935, 1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: KoPub Batang;
    font-weight: 700;
    font-size: 39px;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0px;
    line-height: 42.66600036621094px;
  }
  
  .TEXT_1_29 {
    transform: translate(1128px, 768px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(0, 0, 0, 1);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: KoPub Batang;
    font-weight: 700;
    font-size: 39px;
    text-align: left;
    vertical-align: top;
    letter-spacing: 0px;
    line-height: 42.66600036621094px;
  }
  
  .RECTANGLE_1_30 {
    transform: translate(1115px, 374px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.325));
    border-radius: 29px;
    background-image: linear-gradient(#3D7E2C,#24481B);
    
  }
  
  .RECTANGLE_1_31 {
    transform: translate(1117px, 899px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    filter: drop-shadow(0px 4px 2px rgba(0, 0, 0, 0.325));
    border-radius: 29px;
    background-image: linear-gradient(#3D7E2C,#24481B);
  }
  
  .TEXT_1_32 {
    transform: translate(1195px, 415px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(255, 255, 255, 1);
    font-family: Koh Santepheap;
    font-weight: 400;
    font-size: 39px;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0px;
    line-height: 49.51171875px;
  }
  
  .TEXT_1_33 {
    transform: translate(1193px, 940px) rotate(0deg) scale(1, 1);
    transform-origin: 1px 1px;
    position: absolute;
    top: 0;
    left: 0;
    color: rgba(255, 255, 255, 1);
    font-family: Koh Santepheap;
    font-weight: 400;
    font-size: 39px;
    text-align: center;
    vertical-align: middle;
    letter-spacing: 0px;
    line-height: 49.51171875px;
  }